/* Theme colours */

$black:     #0A0908;
$white:     #F7F7F7;
$darkGrey:  #494949;
$grey:      #7C7A7A;
$cyan:      #52D1DC;

/* Type */

$title: 'Playfair Display', serif;
$bodyText: 'Raleway', sans-serif;

$base:  0.875em;  //14px
$base1: 1em;      //16px
$base2: 1.501em;
$base3: 2.25em;
$base4: 3.375em;
$base5: 5.063em;

html, body {
  font-family: $bodyText;
  font-size: $base;
  // padding-right: 50px;
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $title;
}

h1 {
  font-size: $base4;
}

h2 {
  font-size: $base3;
}

h3 {
  font-size: $base2;
}

h4 {
  font-size: $base1;
}

p {
  font-family: $bodyText;
  font-size: $base;
  line-height: 1.92;
}

a:hover {
  text-decoration: none;
}

.psmallest {
  font-size: $base;
}

.psmall {
  font-size: $base1;
}

.selfPortrait {
    width: 25%;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
  }

.container-bg {
  background-color: $white;
  background-image: url('/images/pattern.png');
}

@media (min-width: 641px) {
  p {
  font-size: $base1;
  line-height: 1.75;
  }

}

@media (min-width: 1281px) {
  p {
  font-size: $base2;
  line-height: 1.48;
  }

  h1 {
    font-size: $base5;
  }

  h2 {
    font-size: $base4;
  }

  h3 {
    font-size: $base3;
  }

  h4 {
    font-size: $base2;
  }

  .selfPortrait {
    width: 15%;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
  }

}

ul {
  list-style: none;
}

.iScrollVerticalScrollbar .iScrollLoneScrollbar, .iScrollIndicator {
  visibility: hidden;
}

.fp-controlArrow.fp-next {
  border-width: 18.5px 0 18.5px 14px;
}

.fp-controlArrow.fp-prev {
  border-width: 18.5px 14px 18.5px 0;
}

.section {
  padding-left: 15px;
  padding-right: 15px;
}

.cyan, a {
  color: $cyan;
}

#menu {
  position: fixed;
  z-index: 5;
  width: 100%;

  a {
    color: $darkGrey;
  }

  li.active > a{
    background-color: $cyan;
  }

  #logo {
    width: 36px;
    height: 36px;
  }

  .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
  }
}

.navbar {
  border: 0;
}

.navbar-default {
  background-color: transparent;
  text-align: right;
}

.navbar-collapse.collapse.in {
  border: 0;

}

.navbar-default .navbar-toggle {
  background-color: $cyan;
  border: 0;
}

.vcenter {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#mainSection {
  color: $darkGrey;
  background: url('/images/aquarium.jpg');
  background-size: cover;
}

#aboutSection {
  color: $darkGrey;
  ul {
    padding-left: 10px;
  }
}

#portfolioSection {
  background-image: url('/images/pattern.png');
  img {
    margin: 20px auto;
  }

  .btn-default {
    background-color: $cyan;
    border-width: 0;
  }
  .btn-default:hover {
    background-color: $white;
    border-width: 0;
  }
}

#contactSection {
  color: $darkGrey;
  background-image: url('/images/scafell.jpg');
  .contact {
    font-size: $base2;
  }
}

#portfolioPage {
  color: $darkGrey;
  margin-top: 3em;

  ul.features {
    list-style-type: square;
  }

  .img-responsive {
    margin-bottom: 20px;
  }
}