/* Theme colours */

$black:     #0A0908;
$white:     #F7F7F7;
$darkGrey:  #494949;
$grey:      #7C7A7A;
$cyan:      #52D1DC;

/* Type */

$title: 'Playfair Display', serif;
$bodyText: 'Raleway', sans-serif;

$base:  0.875em;  //14px
$base1: 1em;      //16px
$base2: 1.618em;  //25px
$base3: 2.618em;  //41px
$base4: 4.236em;  //67px

html, body {
  font-family: $bodyText;
  font-size: $base;
  overflow: hidden !important;
  padding-right: 50px;
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $title;
}

h1 {
  font-size: $base3;
}

h2 {
  font-size: $base2;
}

h3 {
  font-size: $base2;
}

h4 {
  font-size: $base1;
}

p {
  font-family: $bodyText;
  font-size: $base;
  line-height: 1.92;
}

@media (min-width: 480px) {
  p {
  font-size: $base1;
  line-height: 1.75;
  }
}

@media (min-width: 769px) {
  p {
  font-size: $base2;
  line-height: 1.48;
  }

  h1 {
    font-size: $base4;
  }

  h2 {
    font-size: $base3;
  }

  h3 {
    font-size: $base2;
  }

  h4 {
    font-size: $base1;
  }

}

ul {
  list-style: none;
}

.iScrollVerticalScrollbar .iScrollLoneScrollbar, .iScrollIndicator {
  visibility: hidden;
}

.fp-controlArrow.fp-next {
  border-width: 18.5px 0 18.5px 14px;
}

.fp-controlArrow.fp-prev {
  border-width: 18.5px 14px 18.5px 0;
}

.section {
  padding-left: 15px;
  padding-right: 15px;
}

.cyan, a {
  color: $cyan;
}

#menu {
  position: fixed;
  z-index: 5;
  width: 100%;

  a {
    color: $darkGrey;
  }

  li.active > a{
    background-color: $cyan;
  }

  #logo {
    width: 36px;
    height: 36px;
  }

  .navbar-brand {
    padding: 5px 15px;
  }
}

.navbar {
  border: 0;
}

.navbar-default {

  background-color: transparent;
}

.navbar-collapse.collapse.in {
  border: 0;
  text-align: right;
  width: 30%;
  margin-left: 70%;
}

.navbar-default .navbar-toggle {
  background-color: $cyan;
  border: 0;
}

#mainSection {
  color: $darkGrey;
  background: url('../images/aquarium.jpg');
  background-size: cover;
}

#aboutSection {
  color: $darkGrey;

  ul {
    padding-left: 10px;
  }

  .selfPortrait {
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
  }
}

#portfolioSection {
  color: $darkGrey;
}

#contactSection {
  color: $darkGrey;
}